*{margin: 0; padding: 0;}

@keyframes comidas {
    0%{background-image: url(images/3queijos.jpg)}
    20%{background-image: url(images/calabresa.jpg)}
    40%{background-image: url(images/peperoni.jpg)}
    60%{background-image: url(images/Cheesebread.jpg)}
    80%{background-image: url(images/AlhoRoll.jpg)}
    100%{background-image: url(images/3queijos.jpg)}
}

@keyframes bebidas {
    0%{background-image: url(images/Refrigerante.jpg)}
    20%{background-image: url(images/suco.jpg)}
    40%{background-image: url(images/chamate.jpg)}
    60%{background-image: url(images/icetea.jpg)}
    80%{background-image: url(images/agua.jpg)}
    100%{background-image: url(images/Refrigerante.jpg)}
}

@keyframes sobremesas {
    0%{background-image: url(images/chocobrd.jpg)}
    20%{background-image: url(images/churobrd.jpg)}
    40%{background-image: url(images/dchocola.jpg)}
    60%{background-image: url(images/dovomalt.jpg)}
    80%{background-image: url(images/calzfrg.jpg)}
    100%{background-image: url(images/chocobrd.jpg)}
}

body{
    background-image: url(images/madeira.png);
}

header{
    background-color: rgba(255, 235, 122, 0.5);
}

.H{
    color: Black;
    text-decoration: none;
}

.mom{
    width:8%;
    height:8%;
    margin-left:2%;
    margin-top:1%;
    margin-bottom: 1%;
    margin-right: 1%;
    float: left;
}    

nav{
    width: 500px; 
    position: absolute;
    left: 35%;
    top: 5.5%;
}

ul{
    list-style: none;
}

li{
    display: inline-block; 
    margin-left: 100px; 
    font-size: 130%; 
}

    li:hover{
        color: darkred;
    }

.father{
    padding: 3.5%;
    font-size: 200%;
}

.father:hover{
    color: darkred;
}

.son{
    margin: 1% 2% 2% 2%; 
    display: flex;
    Justify-content: center;
    flex-wrap: wrap;
}

.sister{
    animation: comidas 30s linear infinite;
    width: 70vw;
    height: 77vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3%;
    margin-right: 2%;
}

.brother{
    
}

.aunt{
    animation: bebidas 30s linear infinite;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8%;
    width: 20vw;
    height: 37vh;
    margin-bottom: 8%;
}

.uncle{
    animation: sobremesas 30s linear infinite;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8%;
    width: 20vw;
    height: 37vh;
}

.cousin{
    background-image: url(images/combo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 91.5vw;
    height: 22vh;
    margin-left: 3.5%;
    margin-bottom: 2.5%;
}